.login {
  display: block;
  width: 100%;
  height: 100%;
  background: url(/assets/images/img-bg-login.jpg);
  text-align: center;
}

.brand {
  margin-top: 100px;
}

.form {
  width: 100%;
  min-height: 100%;
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  display: block;
  padding: 100px 0;
}

.input {
  position: relative;
}

.form input,
.form .btn-send {
  margin: 20px auto;
  display: block;
  width: 60%;
  height: 50px;
}

::placeholder {
  opacity: 0.5;
}

.form input {
  text-indent: 40px;
}

.input-container {
  margin: 80px 0;
}

.icon {
  top: 8px;
  left: 21%;
  position: absolute;
}

.icon-user {
  content: url(/assets/images/icon-login.png);
}

.icon-key {
  content: url(/assets/images/icon-key.png);
}

.btn-send {
  font-size: 18px;
  background-color: #f67a20;
  color: #fff;
}

/*  Modal */

.dialog {
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.dialog:after {
  content: '';
  border-bottom: 10px solid transparent;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  position: absolute;
  top: 150px;
}

.dialog-container {
  display: flex;
  padding: 30px;
  margin: 0px;
  font-size: 0.8rem;
}

.order {
  text-align: center;
  color: #f67a20;
  width: 50%;
  display: grid;
  padding: 5px;
  line-height: 0.8;
}

.message {
  width: 100%;
  text-align: left;
}

.number {
  font-size: 3rem;
  font-weight: 700;
}
