/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* @import "~bootstrap/dist/css/bootstrap.css" */


 *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #525c65;
    line-height: 1.5rem;
    background-color: #F4F4EF;
    margin: 0;
    padding: 0;
}
